// flex rule mixin \\
@mixin flex-display ($display, $direction, $justify: null, $width: null, $align:null) {
    display: $display;
    flex-direction: $direction;
    justify-content: $justify;
    width: $width;
    align-items: $align;
}

// full function font mixin \\
@mixin font-fam-size ($size, $family, $weight:null, $color:null, $shade:null) {
    font-size: $size;
    font-family: $family;
    font-weight: $weight;
    color: $color;
    text-shadow: $shade;
}

// bouutons and icons \\
@mixin button-styles($width, $height, $margin, $background:null, $padding:null, $fontsize:null) {
    width: $width;
    height: $height;
    margin: $margin;
    background-color: $background;
    padding: $padding;
    font-size: $fontsize;
}

@mixin background($imgpath, $position, $repeat, $size) {
    background: {
        image: url($imgpath);
        position: $position;
        repeat: $repeat;
        size: $size;
    }
}

// media-queries mixin \\
@mixin media($break) {


    @if $break==landscape {
        @media (min-device-width: $brk-xs) and (max-device-width: $h-iphone6p) and (orientation: landscape) {
            @content;
        }
    }
    @else if $break==iphone-5 {
        @media (min-width: $brk-iphone-5) {
            @content;
        }
    }

    @else if $break==iphone-plus {
        @media (min-width: $brk-iphone-plus) {
            @content;
        }
    }
    @else if $break==tablet {
        @media (min-width: $brk-tablet) {
            @content;
        }
    }
    @else if $break==laptop {
        @media (min-width: $brk-laptop) {
            @content;
        }
    }
    @else if $break==desktop {
        @media (min-width: $brk-desktop) {
            @content;
        }
    }
}
