// color variabes \\

$main-background-color : #C7DAEC;
$main-content-color    : #E4F1FF;
$link-color			   : #6633ff;
$text-black			   : #222;
$nav-li-color		   : #BFBFBF;
$head-color			   : #43495C;
$shadow		    	   : #FFBD4F;
$border-color		   : 2px dotted rgba(0, 0, 0, 0.1);
$test-color: #fff;


// added colors
$text-yellow-main : #fdc53f;
$light-grey	  : #999999;
$hard-gray	  : #666666;
$button-color : #D3D1FF;
$dark-purple  : #7000CE;
$body-text    : #E7F0E2;
$highlight	  : #fcc646;
$white      : #FFF;
$white2     : #f6f6f6;
$newColor :#274046;
$text-dark :#46454a;

$background-White: #e6e7e9;
$active-color :#CC6600;
$test-color: #283441;

  // lightend colors \\
$text-black-m	  		   : rgba($text-black,.9);
$text-gray-m	  		   : rgba($text-black,.7);
$light-gray-l			   : rgba($light-grey,.9);
$hard-gray-l			   : rgba($hard-gray,.9);
$text-yellow-main-l         : rgba($text-yellow-main,.9);

$dark-purple-l			   : rgba($dark-purple,.1);
$dark-purple-m			   : rgba($dark-purple,.6);
$newColor-l			   : rgba($newColor,.6);
$text-color			   : rgba($text-black,.7);
$link-color-light	   : rgba($link-color,.6);
$h-color			   : rgba($head-color,.8);
$w-color                : rgba($white ,.9);



// font variables \\

$main-font-1 : 'Roboto', sans-serif;
//$main-font-2: 'Oswald', sans-serif;
$main-font-2:  'Oswald', sans-serif;


$sm-font    : 1em;
$md-font    : 1.3em;
$lg-font    : 2em;
$font-w     : 900;

// border variable \\

$border   :  2px solid $nav-li-color;
 
// utilities \\

$auto    :  auto;
$full    :  100%;
$trans-default:all 1s;



// variables for media queries \\

$brk-xs	   : 320px;
$brk-s	   : 375px;
$brk-iphone-5 : 350px;
$brk-iphone-plus : 400px;
$brk-landscape : 480px;
$brk-mobile-l  : 425px;
// According to React-bootstrap
$brk-tablet    : 768px;
$brk-laptop    : 992px;
$brk-desktop  : 1200px;

/////
$brk-4k  	   : 2522px;
$brk-height	   : 900px;



$h-iphone4     : 480px;
$h-iphone5     : 568px;
$h-iphone6     : 667px;
$h-iphone6p    : 736px;

