body {
    // padding-top: 75px; // background: url(../img/asset-3.png) no-repeat 100%;
    // background-size: 100%;
    background-color: $background-White;

}

a:hover,
a:focus {
    color: none;
    text-decoration: none;
}



