.fromTopIn {
  transition: all 1.0s ease, opacity 1.0s ease;
  transform: translate(0, 0);
  opacity: 1.0; }

.fromTopOut {
  transition: all 1.0s ease, opacity 1.0s ease;
  transform: translate(0, -10px);
  opacity: 0.0; }

.fromBottomIn {
  transition: transform 1.0s ease, opacity 1.0s ease;
  transform: translate(0, 0);
  opacity: 1.0; }

.fromBottomOut {
  transition: transform 1.0s ease, opacity 1.0s ease;
  transform: translate(0, 10px);
  opacity: 0.0; }

.fromLeftIn {
  transition: transform 1.0s ease, opacity 1.0s ease;
  transform: translate(0, 0);
  opacity: 1.0; }

.fromLeftOut {
  transition: transform 1.0s ease, opacity 1.0s ease;
  transform: translate(-10px, 0);
  opacity: 0.0; }

.fromRightIn {
  transition: transform 1.0s ease, opacity 1.0s ease;
  transform: translate(0, 0);
  opacity: 1.0; }

.fromRightOut {
  transition: transform 1.0s ease, opacity 1.0s ease;
  transform: translate(10px, 0);
  opacity: 0.0; }

.scaleUpIn {
  transition: transform 1.5s ease, opacity 1.0s ease;
  transform: scale(1, 1);
  opacity: 1.0; }

.scaleUpOut {
  transition: transform 1.5s ease, opacity 1.0s ease;
  transform: scale(1.3, 1.3);
  opacity: 0.0; }

.scaleDownIn {
  transition: transform 1.0s ease, opacity 1.0s ease;
  transform: scale(1, 1);
  opacity: 1.0; }

.scaleDownOut {
  transition: transform 1.0s ease, opacity 1.0s ease;
  transform: scale(0.7, 0.7);
  opacity: 0.0; }

a:hover,
a:focus {
  color: none;
  text-decoration: none; }

.backDrop-invisible {
  display: none; }

.backDrop-visible {
  position: fixed;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.8);
  top: 0;
  left: 0;
  z-index: 2; }

.is-visible {
  opacity: 1;
  -webkit-transform: translate(0, 0);
  -webkit-transition: all .3s ease-out; }

.is-hidden {
  opacity: 0;
  -webkit-transform: translate(0, -60px);
  -webkit-transition: all .3s ease-out; }

.example-enter {
  opacity: 0.01;
  transform: translateX(-100%); }

.example-enter.example-enter-active {
  opacity: 1;
  transform: translateX(0);
  transition: transform .5s ease-out; }

.example-leave {
  transform: translateX(0);
  opacity: 1; }

.example-leave.example-leave-active {
  opacity: 0.01;
  transform: translateX(100%);
  transition: transform 0.5s ease-in; }

.slide-enter {
  opacity: 0.01; }

.slide-enter.slide-enter-active {
  opacity: 1;
  transition: opacity 500ms ease-in; }

.slide-leave {
  opacity: 1; }

.slide-leave.slide-leave-active {
  opacity: 0.01;
  transition: opacity 300ms ease-in; }

.nav {
  float: right;
  width: 80%; }

.sub-link {
  display: block;
  font-size: 1em;
  font-family: asli;
  font-weight: bold;
  color: #E7F0E2;
  text-align: right;
  margin: 10px 4px 10px 0; }

.nav-sub {
  display: none;
  float: right;
  width: 100%; }

.footer.farsi h1 {
  margin: 0;
  background-color: rgba(102, 102, 102, 0.9);
  padding: 1em;
  font-size: 1.2em;
  font-family: asli;
  font-weight: bold;
  color: #fdc53f;
  text-align: right; }
  @media (min-width: 768px) {
    .footer.farsi h1 {
      font-size: 1.6em; } }

.footer.english h1 {
  margin: 0;
  background-color: #999999;
  padding: 1em;
  font-size: 1.2em;
  font-family: "Oswald", sans-serif;
  font-weight: 400;
  color: #fdc53f;
  text-align: left; }
  @media (min-width: 768px) {
    .footer.english h1 {
      font-size: 1.6em; } }

@font-face {
  font-family: asli;
  src: url(../fonts/titr.ttf); }

@font-face {
  font-family: dovom;
  src: url(../fonts/Parastoo-WOL.ttf); }

@font-face {
  font-family: dovom-bold;
  src: url(../fonts/Parastoo-Bold-FD-WOL.ttf); }

header {
  z-index: 2;
  width: 100%;
  position: fixed; }

.inCatalog {
  position: relative; }
  .inCatalog nav {
    background-color: #999999; }

.headroom {
  top: 0;
  left: 0;
  right: 0;
  z-index: 1; }

.headroom--unfixed {
  position: relative;
  background: transparent; }

.headroom--scrolled {
  transition: all 600ms ease-in-out; }

.headroom--unpinned {
  transition: all 600ms ease-in-out;
  transform: translateY(-100%); }

.headroom--pinned {
  position: fixed;
  transform: translateY(0%);
  background: #999999; }

#menuToggle {
  display: block;
  top: 50px;
  left: 50px;
  z-index: 1;
  -webkit-user-select: none;
  user-select: none; }

#menuToggle span {
  display: block;
  width: 33px;
  height: 4px;
  margin-bottom: .3em;
  background: #fdc53f;
  border-radius: 3px;
  z-index: 1; }
  @media (min-width: 768px) {
    #menuToggle span {
      width: 2em;
      height: .3em;
      margin-bottom: .4em; } }
  @media (min-width: 992px) {
    #menuToggle span {
      width: 4em;
      height: .5em;
      margin-bottom: .5em; } }

nav {
  width: 100%;
  background: transparent;
  border: none;
  margin-bottom: 0;
  border-radius: 0;
  position: relative; }
  @media (min-width: 768px) {
    nav .btn {
      margin: 1em 2em; } }
  @media (min-width: 992px) {
    nav .btn {
      margin: 2em 4em; } }
  nav .btn #btn {
    padding: 0;
    font-size: 2em;
    cursor: pointer;
    color: #fdc53f;
    margin: auto; }
    @media (min-width: 768px) {
      nav .btn #btn {
        margin-left: 1em; } }
    @media (min-width: 992px) {
      nav .btn #btn {
        margin-left: .8em; } }
  nav .header-div.farsi {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
    transition: margin-left 0.5s; }
    @media (min-width: 400px) {
      nav .header-div.farsi {
        padding: .5em; } }
    @media (min-width: 768px) {
      nav .header-div.farsi {
        padding: 1em 0; } }
    @media (min-width: 992px) {
      nav .header-div.farsi {
        padding: 0; } }
    nav .header-div.farsi .toolbar-title {
      margin: auto 0;
      width: 45%; }
      @media (min-width: 768px) {
        nav .header-div.farsi .toolbar-title {
          width: 25%; } }
      nav .header-div.farsi .toolbar-title .toolbar-title__img {
        max-width: 100%;
        height: auto; }
      @media (min-width: 768px) {
        nav .header-div.farsi .toolbar-title {
          margin-right: 2em; } }
      nav .header-div.farsi .toolbar-title .toolbar-title__h1 {
        height: 100%;
        display: inline-block;
        font-size: 1.7em;
        font-family: asli;
        font-weight: bold;
        color: #fdc53f;
        margin: auto; }
        @media (min-width: 400px) {
          nav .header-div.farsi .toolbar-title .toolbar-title__h1 {
            font-size: 2.2em; } }
        @media (min-width: 768px) {
          nav .header-div.farsi .toolbar-title .toolbar-title__h1 {
            font-size: 2.8em; } }
        @media (min-width: 1200px) {
          nav .header-div.farsi .toolbar-title .toolbar-title__h1 {
            font-size: 4em; } }
        nav .header-div.farsi .toolbar-title .toolbar-title__h1 b {
          font-size: 1em;
          font-family: asli;
          font-weight: bold;
          color: #fff; }
  nav .header-div.english {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
    transition: margin-left 0.5s; }
    @media (min-width: 400px) {
      nav .header-div.english {
        padding: .5em; } }
    @media (min-width: 768px) {
      nav .header-div.english {
        padding: 1em 0; } }
    @media (min-width: 992px) {
      nav .header-div.english {
        padding: 0; } }
    nav .header-div.english .toolbar-title {
      margin: auto 0;
      width: 45%; }
      @media (min-width: 768px) {
        nav .header-div.english .toolbar-title {
          width: 25%; } }
      nav .header-div.english .toolbar-title .toolbar-title__img {
        max-width: 100%;
        height: auto; }
      @media (min-width: 768px) {
        nav .header-div.english .toolbar-title {
          margin-right: 2em; } }
      nav .header-div.english .toolbar-title .toolbar-title__h1 {
        height: 100%;
        display: inline-block;
        font-size: 2em;
        font-family: "Oswald", sans-serif;
        font-weight: bold;
        color: #fdc53f;
        margin: auto; }
        @media (min-width: 400px) {
          nav .header-div.english .toolbar-title .toolbar-title__h1 {
            font-size: 2.5em; } }
        @media (min-width: 768px) {
          nav .header-div.english .toolbar-title .toolbar-title__h1 {
            font-size: 2.8em; } }
        @media (min-width: 1200px) {
          nav .header-div.english .toolbar-title .toolbar-title__h1 {
            font-size: 4em; } }
        nav .header-div.english .toolbar-title .toolbar-title__h1 b {
          font-size: 1em;
          font-family: "Oswald", sans-serif;
          font-weight: bold;
          color: #fff; }
  nav .navbar-toggler {
    font-size: 1.9em;
    outline: none; }

.lang-select {
  width: 100%;
  background: #666666; }
  .lang-select .lang-select--english {
    font-size: 0.8em;
    font-family: dovom;
    font-weight: bold;
    color: #FFF;
    outline: none;
    margin: 0 1em; }
    @media (min-width: 400px) {
      .lang-select .lang-select--english {
        font-size: 1em;
        padding: .2em; } }
    @media (min-width: 992px) {
      .lang-select .lang-select--english {
        font-size: 2em; } }
  .lang-select .lang-select--farsi {
    font-size: 0.8em;
    font-family: "Oswald", sans-serif;
    font-weight: bold;
    color: #FFF;
    outline: none;
    margin: 0 1em; }
    @media (min-width: 400px) {
      .lang-select .lang-select--farsi {
        font-size: 1em;
        padding: .2em; } }
    @media (min-width: 992px) {
      .lang-select .lang-select--farsi {
        font-size: 2em; } }

.sidenav {
  height: 100%;
  width: 0;
  position: fixed;
  z-index: 3;
  top: 0;
  background: rgba(0, 0, 0, 0.3);
  overflow-x: hidden;
  transition: 0.5s;
  padding-top: 2em; }
  @media (min-width: 400px) {
    .sidenav {
      padding-top: 3em; } }
  @media (min-width: 768px) {
    .sidenav {
      padding-top: 5em; } }
  .sidenav.nav-open {
    width: 70%; }
    @media (min-width: 768px) {
      .sidenav.nav-open {
        width: 30%; } }
  .sidenav.english {
    left: 0; }
    .sidenav.english .closebtn {
      left: .3em; }
      @media (min-width: 1200px) {
        .sidenav.english .closebtn {
          left: .8em;
          top: .5em; } }
    .sidenav.english .sidenav-home-btn {
      font-size: 2em;
      font-family: "Oswald", sans-serif;
      font-weight: bold;
      color: #FFF; }
      @media (min-width: 992px) {
        .sidenav.english .sidenav-home-btn {
          font-size: 4em; } }
    .sidenav.english .nav-link-style {
      text-decoration: none;
      display: flex;
      flex-direction: row-reverse;
      justify-content: space-between;
      width: 100%;
      font-size: 2em;
      font-family: "Oswald", sans-serif;
      font-weight: bold;
      color: #FFF;
      transition: 0.3s;
      margin: .2em 0; }
      @media (min-width: 400px) {
        .sidenav.english .nav-link-style {
          font-size: 2.2em;
          margin: .4em 0; } }
      @media (min-width: 992px) {
        .sidenav.english .nav-link-style {
          font-size: 4em;
          margin: .5em 0; } }
      .sidenav.english .nav-link-style .nav-link-style__title {
        color: #FFF; }
        @media (min-width: 992px) {
          .sidenav.english .nav-link-style .nav-link-style__title {
            font-size: 1em; } }
      .sidenav.english .nav-link-style .arrow-style {
        transform: rotateZ(180deg); }
        .sidenav.english .nav-link-style .arrow-style.turn {
          transform-origin: center;
          transform: rotateZ(270deg); }
    .sidenav.english .sideNav-sub__li {
      text-align: left; }
      .sidenav.english .sideNav-sub__li .sideNav-sub__li--link {
        margin: .3em 0;
        font-size: 1.2em;
        font-family: "Roboto", sans-serif;
        font-weight: 100;
        color: rgba(253, 197, 63, 0.9); }
        @media (min-width: 400px) {
          .sidenav.english .sideNav-sub__li .sideNav-sub__li--link {
            font-size: 1.5em;
            margin: .4em 0; } }
        @media (min-width: 768px) {
          .sidenav.english .sideNav-sub__li .sideNav-sub__li--link {
            font-size: 1.6em; } }
        @media (min-width: 992px) {
          .sidenav.english .sideNav-sub__li .sideNav-sub__li--link {
            font-size: 2em; } }
    .sidenav.english .sidenav-contact .sidenav-contact__Link {
      text-align: left; }
      .sidenav.english .sidenav-contact .sidenav-contact__Link .sidenav-contact__Link--font {
        font-size: 2em;
        font-family: "Oswald", sans-serif;
        font-weight: bold;
        color: #FFF; }
  .sidenav.farsi {
    right: 0; }
    .sidenav.farsi .closebtn {
      right: .3em; }
      @media (min-width: 1200px) {
        .sidenav.farsi .closebtn {
          right: .8em;
          top: .5em; } }
    .sidenav.farsi .sidenav-home-btn {
      font-size: 1.9em;
      font-family: asli;
      font-weight: bold;
      color: #FFF; }
      @media (min-width: 992px) {
        .sidenav.farsi .sidenav-home-btn {
          font-size: 4em; } }
    .sidenav.farsi .nav-link-style__title {
      font-size: 1em; }
      @media (min-width: 992px) {
        .sidenav.farsi .nav-link-style__title {
          font-size: 1em; } }
    .sidenav.farsi .nav-link-style {
      text-decoration: none;
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      width: 100%;
      transition: 0.3s; }
      @media (min-width: 400px) {
        .sidenav.farsi .nav-link-style {
          font-size: 2.2em;
          margin: .3em 0; } }
      @media (min-width: 992px) {
        .sidenav.farsi .nav-link-style {
          font-size: 4em;
          margin: .5em 0; } }
      .sidenav.farsi .nav-link-style .turn {
        transform-origin: center;
        transform: rotateZ(-90deg); }
    .sidenav.farsi .sideNav-sub__li {
      text-align: right; }
      .sidenav.farsi .sideNav-sub__li .sideNav-sub__li--link {
        font-size: 1.2em;
        font-family: dovom-bold;
        font-weight: bold;
        color: rgba(253, 197, 63, 0.9);
        margin: .4em 0; }
        @media (min-width: 400px) {
          .sidenav.farsi .sideNav-sub__li .sideNav-sub__li--link {
            font-size: 1.5em; } }
        @media (min-width: 992px) {
          .sidenav.farsi .sideNav-sub__li .sideNav-sub__li--link {
            font-size: 2em; } }
    .sidenav.farsi .sidenav-contact .sidenav-contact__Link {
      text-align: right; }
      .sidenav.farsi .sidenav-contact .sidenav-contact__Link .sidenav-contact__Link--font {
        font-size: 1.9em;
        font-family: asli;
        font-weight: bold;
        color: #FFF; }
  .sidenav .sideNav-title {
    width: 100%;
    padding: 1em; }
    .sidenav .sideNav-title .sidenav-li-drop, .sidenav .sideNav-title .sidenav-home {
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      width: 100%;
      align-items: center; }
  .sidenav .nav-link {
    font-size: 1.3em;
    font-family: asli;
    font-weight: bold;
    color: rgba(34, 34, 34, 0.9); }
  .sidenav .expand {
    max-height: 30em; }
    @media (min-width: 992px) {
      .sidenav .expand {
        max-height: 50em; } }
  .sidenav .closebtn {
    position: absolute;
    top: -20px;
    font-size: 4em;
    color: rgba(253, 197, 63, 0.9); }
    @media (min-width: 992px) {
      .sidenav .closebtn {
        font-size: 6em; } }

.head-intro-sub {
  height: 0;
  width: 100%;
  position: relative;
  z-index: 100000;
  background-color: #000;
  transition: 0.5s; }

.sidenav-home-btn {
  font-size: 2em;
  font-family: asli;
  font-weight: 200;
  color: #FFF;
  padding: .5em 0; }

.sidenav-li-drop .nav-link-style {
  font-size: 2em;
  font-family: asli;
  font-weight: 200;
  color: #FFF; }
  .sidenav-li-drop .nav-link-style .nav-link-style__title {
    color: #FFF; }
  .sidenav-li-drop .nav-link-style .arrow-style {
    width: .6em;
    height: .6em;
    transition: all 0.3s; }
    @media (min-width: 400px) {
      .sidenav-li-drop .nav-link-style .arrow-style {
        width: .8em;
        height: .8em; } }
  .sidenav-li-drop .nav-link-style .arrow-style-sub {
    width: 15px;
    height: 15px;
    transition: all 0.3s; }

.sidenav-li-drop .sideNav-sub {
  padding: 0;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 100%;
  align-items: center; }
  .sidenav-li-drop .sideNav-sub .sideNav-sub__li {
    list-style: none;
    width: 100%; }

.nav-link-no-sub {
  text-align: right;
  font-size: 1.4em;
  font-family: asli;
  font-weight: 100;
  color: rgba(253, 197, 63, 0.9); }

.nav {
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.3s ease-in-out; }
  @media (min-width: 768px) {
    .nav {
      display: flex;
      flex-direction: row-reverse; } }

.nav-sub-container {
  display: none; }

.sidenav a:hover,
.offcanvas a:focus {
  color: #f1f1f1; }

@media screen and (max-height: 450px) {
  .sidenav {
    padding-top: 15px; }
  .sidenav a {
    font-size: 18px; } }

.slidedown-nav {
  position: relative;
  height: 0;
  overflow: hidden; }

.arrow-icon {
  width: 20px;
  height: 20px; }

.parallax-my-custom {
  background: #e6dada;
  background: linear-gradient(190deg, rgba(230, 218, 218, 0.802959) 0%, rgba(39, 64, 70, 0.797356) 48%);
  height: 100vh; }

.parallax-my-custom-2 {
  background: #e6dada;
  background: linear-gradient(132deg, rgba(230, 218, 218, 0.802959) 0%, rgba(39, 64, 70, 0.797356) 0%);
  height: 60vh; }
  @media (min-width: 992px) {
    .parallax-my-custom-2 {
      height: 60vh; } }

.intro {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 100%;
  align-items: center;
  position: absolute;
  background: transparent;
  padding: 20px;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -60%); }
  @media (min-width: 400px) {
    .intro {
      transform: translate(-50%, -50%); } }
  @media (min-width: 992px) {
    .intro {
      transform: translate(-50%, -60%); } }
  .intro .intro__img {
    max-width: 100%;
    height: auto;
    width: 100%; }
  .intro .intro__h2.english {
    position: absolute;
    font-size: 1.5em;
    font-family: "Oswald", sans-serif;
    font-weight: 300;
    color: #FFF;
    bottom: -1em; }
    @media (min-width: 400px) {
      .intro .intro__h2.english {
        font-size: 2em; } }
    @media (min-width: 992px) {
      .intro .intro__h2.english {
        font-size: 4em; } }
  .intro .intro__h2.farsi {
    position: absolute;
    font-size: 2em;
    font-family: asli;
    font-weight: bold;
    color: #FFF;
    bottom: -1em; }
    @media (min-width: 992px) {
      .intro .intro__h2.farsi {
        font-size: 4em; } }
  .intro .image-head-slog {
    font-family: asli;
    font-size: 2em;
    color: #fff;
    text-decoration: none;
    margin: 0; }
  .intro .image-head-company {
    font-family: asli;
    font-size: 4em;
    color: #fff;
    text-decoration: none; }

.overlaySection.farsi {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  width: 100%;
  align-items: center; }
  .overlaySection.farsi .overlaySection__img {
    max-width: 100%;
    height: auto; }
  .overlaySection.farsi .overlaySection__card {
    background: transparent;
    position: absolute;
    padding: 1em;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    width: 90%;
    align-items: flex-end;
    text-align: right; }
    @media (min-width: 400px) {
      .overlaySection.farsi .overlaySection__card {
        width: 80%; } }
    @media (min-width: 768px) {
      .overlaySection.farsi .overlaySection__card {
        width: 60%; } }
    .overlaySection.farsi .overlaySection__card .overlaySection__card--title {
      font-size: 2.3em;
      font-family: asli;
      font-weight: bold;
      color: #fdc53f;
      margin: 0 0 .5em 0; }
      @media (min-width: 768px) {
        .overlaySection.farsi .overlaySection__card .overlaySection__card--title {
          font-size: 4em; } }
      @media (min-width: 992px) {
        .overlaySection.farsi .overlaySection__card .overlaySection__card--title {
          font-size: 6em; } }
    .overlaySection.farsi .overlaySection__card .overlaySection__card--p {
      font-size: 1em;
      font-family: dovom;
      font-weight: bold;
      color: rgba(255, 255, 255, 0.9); }
      @media (min-width: 768px) {
        .overlaySection.farsi .overlaySection__card .overlaySection__card--p {
          font-size: 2em; } }

.overlaySection.english {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  width: 100%;
  align-items: center; }
  .overlaySection.english .overlaySection__img {
    max-width: 100%;
    height: auto; }
  .overlaySection.english .overlaySection__card {
    background: transparent;
    position: absolute;
    padding: 1em;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    width: 90%;
    align-items: flex-start;
    text-align: left; }
    @media (min-width: 400px) {
      .overlaySection.english .overlaySection__card {
        width: 80%; } }
    @media (min-width: 768px) {
      .overlaySection.english .overlaySection__card {
        width: 60%; } }
    .overlaySection.english .overlaySection__card .overlaySection__card--title {
      font-size: 2.3em;
      font-family: "Oswald", sans-serif;
      font-weight: bold;
      color: #fdc53f;
      margin: 0 0 .5em 0; }
      @media (min-width: 768px) {
        .overlaySection.english .overlaySection__card .overlaySection__card--title {
          font-size: 4em; } }
      @media (min-width: 992px) {
        .overlaySection.english .overlaySection__card .overlaySection__card--title {
          font-size: 6em; } }
    .overlaySection.english .overlaySection__card .overlaySection__card--p {
      font-size: 1em;
      font-family: "Oswald", sans-serif;
      font-weight: bold;
      color: rgba(255, 255, 255, 0.9); }
      @media (min-width: 768px) {
        .overlaySection.english .overlaySection__card .overlaySection__card--p {
          font-size: 2em;
          font-weight: 400; } }

.feature_holder {
  padding-top: 2em;
  padding-bottom: 2em; }
  @media (min-width: 1200px) {
    .feature_holder {
      padding-top: 14em;
      padding-bottom: 14em; } }

.feature {
  padding: 2em 0; }
  .feature .feature__block {
    margin: 0;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    width: 100%; }
    @media (min-width: 768px) {
      .feature .feature__block {
        width: 90%;
        margin: auto; } }
    @media (min-width: 992px) {
      .feature .feature__block {
        width: 80%; } }
    .feature .feature__block .feature__block--img {
      margin: auto;
      max-width: 100%;
      height: auto; }
    .feature .feature__block .feature__block--title {
      padding: 0 1em;
      margin: .5em 0; }
    .feature .feature__block .feature__block--title.farsi {
      text-align: right;
      font-size: 1.3em;
      font-family: asli;
      font-weight: bold;
      color: rgba(153, 153, 153, 0.9); }
    .feature .feature__block .feature__block--title.english {
      font-size: 1.3em;
      font-family: "Oswald", sans-serif;
      font-weight: 400;
      color: rgba(153, 153, 153, 0.9); }
    .feature .feature__block .feature__block--text {
      padding: 0 1em;
      margin: .5em auto; }
    .feature .feature__block .feature__block--text.farsi {
      text-align: right;
      font-size: 1em;
      font-family: dovom;
      font-weight: bold;
      color: rgba(102, 102, 102, 0.9);
      line-height: 1.5; }
    .feature .feature__block .feature__block--text.english {
      font-size: 1em;
      font-family: "Roboto", sans-serif;
      font-weight: 300;
      color: rgba(102, 102, 102, 0.9);
      line-height: 1.5; }

.main {
  width: 100%;
  margin: auto;
  background: #e6e7e9; }

.product-showcase__items {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 100%;
  align-items: center;
  height: auto; }
  .product-showcase__items .product-showcase__linkBlock {
    position: relative; }
    .product-showcase__items .product-showcase__linkBlock .product-showcase__linkBlock--image {
      width: 100%;
      height: auto; }
    .product-showcase__items .product-showcase__linkBlock .product-showcase__linkBlock--title {
      position: absolute;
      top: .5em;
      z-index: 0; }
    .product-showcase__items .product-showcase__linkBlock .product-showcase__linkBlock--title.f-right {
      left: 2em; }
    .product-showcase__items .product-showcase__linkBlock .product-showcase__linkBlock--title.f-left {
      right: 2em; }
  @media (min-width: 768px) {
    .product-showcase__items {
      width: 50%; } }
  @media (min-width: 992px) {
    .product-showcase__items {
      width: 25%; } }

.product-showcase__items.farsi .product-showcase__linkBlock .product-showcase__linkBlock--title {
  font-size: 1.5em;
  font-family: asli;
  font-weight: 400;
  color: #fdc53f; }
  @media (min-width: 400px) {
    .product-showcase__items.farsi .product-showcase__linkBlock .product-showcase__linkBlock--title {
      font-size: 2em; } }
  @media (min-width: 992px) {
    .product-showcase__items.farsi .product-showcase__linkBlock .product-showcase__linkBlock--title {
      font-size: 1.5em; } }
  @media (min-width: 1200px) {
    .product-showcase__items.farsi .product-showcase__linkBlock .product-showcase__linkBlock--title {
      font-size: 2em; } }

.product-showcase__items.english .product-showcase__linkBlock .product-showcase__linkBlock--title {
  font-size: 1.6em;
  font-family: "Oswald", sans-serif;
  font-weight: 400;
  color: #fdc53f; }
  @media (min-width: 400px) {
    .product-showcase__items.english .product-showcase__linkBlock .product-showcase__linkBlock--title {
      font-size: 2em; } }
  @media (min-width: 992px) {
    .product-showcase__items.english .product-showcase__linkBlock .product-showcase__linkBlock--title {
      font-size: 1.5em; } }
  @media (min-width: 1200px) {
    .product-showcase__items.english .product-showcase__linkBlock .product-showcase__linkBlock--title {
      font-size: 2em; } }

.product-showcase {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  width: 100%;
  align-items: center; }
  .product-showcase :nth-child(1) {
    order: 1; }
  .product-showcase :nth-child(2) {
    order: 2; }
  .product-showcase :nth-child(3) {
    order: 4; }
  .product-showcase :nth-child(4) {
    order: 3; }
  .product-showcase :nth-child(5) {
    order: 5; }
  .product-showcase :nth-child(6) {
    order: 6; }
  .product-showcase :nth-child(7) {
    order: 8; }
  .product-showcase :nth-child(8) {
    order: 7; }
  @media (min-width: 768px) {
    .product-showcase {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      width: 100%;
      align-items: center;
      flex-wrap: wrap; }
      .product-showcase :nth-child(1) {
        order: 1; }
      .product-showcase :nth-child(2) {
        order: 2; }
      .product-showcase :nth-child(3) {
        order: 3; }
      .product-showcase :nth-child(4) {
        order: 4; }
      .product-showcase :nth-child(5) {
        order: 5; }
      .product-showcase :nth-child(6) {
        order: 6; }
      .product-showcase :nth-child(7) {
        order: 7; }
      .product-showcase :nth-child(8) {
        order: 8; } }
  @media (min-width: 992px) {
    .product-showcase :nth-child(1) {
      order: 1; }
    .product-showcase :nth-child(2) {
      order: 2; }
    .product-showcase :nth-child(3) {
      order: 4; }
    .product-showcase :nth-child(4) {
      order: 3; }
    .product-showcase :nth-child(5) {
      order: 6; }
    .product-showcase :nth-child(6) {
      order: 5; }
    .product-showcase :nth-child(7) {
      order: 7; }
    .product-showcase :nth-child(8) {
      order: 8; } }

@media (min-width: 992px) {
  .catalog-body {
    display: flex;
    flex-direction: row-reverse;
    justify-content: center;
    width: 100%;
    border-bottom: 1px solid rgba(102, 102, 102, 0.9); } }

@media (min-width: 992px) {
  .catalog-function {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    width: 100%; } }

.desktop-sideGenre {
  display: none; }
  @media (min-width: 992px) {
    .desktop-sideGenre {
      display: flex;
      flex-direction: column;
      justify-content: flex-start;
      width: 40%; } }

.home-genres {
  height: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  width: 100%;
  align-items: center;
  flex-wrap: wrap;
  background-color: #666666; }
  .home-genres .home-genre__item {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    width: 50%;
    align-items: center;
    padding: 8px;
    -webkit-transition: all .5s;
    transition: all .5s; }
    .home-genres .home-genre__item:hover {
      background-color: #999999; }
    .home-genres .home-genre__item .home-genre__item--img {
      max-width: 100%;
      height: auto; }
    .home-genres .home-genre__item .home-genres__item--title.english {
      font-size: 2.5em;
      font-family: "Roboto", sans-serif;
      font-weight: 400;
      color: #fdc53f;
      padding: .5em 0;
      width: 100%;
      text-align: center; }
    .home-genres .home-genre__item .home-genres__item--title.farsi {
      font-size: 2.5em;
      font-family: dovom;
      font-weight: 400;
      color: #fdc53f;
      padding: .5em 0;
      width: 100%;
      text-align: center; }

.home-genres-title.farsi {
  width: 100%;
  padding: 3em 0;
  background-color: rgba(102, 102, 102, 0.9); }
  .home-genres-title.farsi h2 {
    font-size: 5em;
    font-family: asli;
    font-weight: bold;
    color: #fdc53f;
    margin: auto;
    text-align: center; }

.home-genres-title.english {
  width: 100%;
  padding: 3em 0;
  background-color: rgba(102, 102, 102, 0.9); }
  .home-genres-title.english h2 {
    font-size: 5em;
    font-family: "Roboto", sans-serif;
    font-weight: 500;
    color: #FFF;
    margin: auto;
    text-align: center; }

.catalog-header-farsi {
  position: relative;
  background: url("../img/catalog-head.jpg") no-repeat center;
  background-size: 100%;
  margin: auto;
  padding: 1em 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 100%; }
  @media (min-width: 992px) {
    .catalog-header-farsi {
      margin: 0;
      width: 100%; } }
  .catalog-header-farsi .catalog-header__title {
    padding: 1em 0; }
    @media (min-width: 768px) {
      .catalog-header-farsi .catalog-header__title {
        margin: 3em auto; } }
    @media (min-width: 992px) {
      .catalog-header-farsi .catalog-header__title {
        margin: 1em auto; } }
    .catalog-header-farsi .catalog-header__title .catalog-header__title_info {
      text-align: center;
      font-size: 3em;
      font-family: asli;
      font-weight: bold;
      color: #666666;
      margin: auto; }
      @media (min-width: 768px) {
        .catalog-header-farsi .catalog-header__title .catalog-header__title_info {
          padding: .6em 0;
          font-size: 4em; } }
      @media (min-width: 992px) {
        .catalog-header-farsi .catalog-header__title .catalog-header__title_info {
          font-size: 5em; } }

.catalog-header-english {
  position: relative;
  background: url("../img/catalog-head.jpg") no-repeat center;
  background-size: 100%;
  margin: auto;
  padding: 1em 0; }
  @media (min-width: 992px) {
    .catalog-header-english {
      margin: 0;
      width: 100%; } }
  .catalog-header-english .catalog-header__title {
    padding: 1em 0; }
    @media (min-width: 768px) {
      .catalog-header-english .catalog-header__title {
        margin: 3em auto; } }
    @media (min-width: 992px) {
      .catalog-header-english .catalog-header__title {
        margin: 1em auto; } }
    .catalog-header-english .catalog-header__title .catalog-header__title_info {
      text-align: center;
      font-size: 3em;
      font-family: "Oswald", sans-serif;
      font-weight: bold;
      color: #666666;
      margin: auto; }
      @media (min-width: 768px) {
        .catalog-header-english .catalog-header__title .catalog-header__title_info {
          padding: .6em 0;
          font-size: 4em; } }
      @media (min-width: 992px) {
        .catalog-header-english .catalog-header__title .catalog-header__title_info {
          font-size: 5em; } }

.catalog-header__genres {
  position: absolute;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  width: 100%;
  list-style: none;
  top: 6.5em;
  padding: 0; }
  @media (min-width: 350px) {
    .catalog-header__genres {
      top: 6em; } }
  @media (min-width: 768px) {
    .catalog-header__genres {
      top: 16em;
      margin: auto;
      padding: 1em 0;
      width: 100%;
      justify-content: space-around; } }
  @media (min-width: 992px) {
    .catalog-header__genres {
      top: 14em;
      left: 10%;
      width: 80%; } }
  .catalog-header__genres .catalog-header__genres_navigation {
    cursor: pointer;
    width: 25%;
    border: 1px solid #fabb00;
    border-radius: 2em;
    margin: 0 .3em;
    text-decoration: none;
    display: flex;
    color: #ffffff;
    background-color: #ffcc33;
    background-image: -webkit-gradient(linear, left top, left bottom, from(#ffcc33), to(#cc9933));
    background-image: -webkit-linear-gradient(top, #ffcc33, #cc9933);
    background-image: -moz-linear-gradient(top, #ffcc33, #cc9933);
    background-image: -ms-linear-gradient(top, #ffcc33, #cc9933);
    background-image: -o-linear-gradient(top, #ffcc33, #cc9933);
    background-image: linear-gradient(to bottom, #ffcc33, #cc9933);
    filter: progid:DXImageTransform.Microsoft.gradient(GradientType=0,startColorstr=#FFCC33, endColorstr=#CC9933); }
    @media (min-width: 768px) {
      .catalog-header__genres .catalog-header__genres_navigation {
        height: 100%;
        margin: 0 1em; } }
    @media (min-width: 992px) {
      .catalog-header__genres .catalog-header__genres_navigation {
        border-radius: 3em; } }
  .catalog-header__genres .catalog-header__genres_navigation--active {
    width: 25%;
    border: 1px solid #fabb00;
    border-radius: 2em;
    margin: 0 .3em;
    text-decoration: none;
    display: flex;
    background-color: #ffcc33;
    background-image: -webkit-gradient(linear, left top, left bottom, from(#ffcc33), to(#CC6600));
    background-image: -webkit-linear-gradient(top, #ffcc33, #CC6600);
    background-image: -moz-linear-gradient(top, #ffcc33, #CC6600);
    background-image: -ms-linear-gradient(top, #ffcc33, #CC6600);
    background-image: -o-linear-gradient(top, #ffcc33, #CC6600);
    background-image: linear-gradient(to bottom, #ffcc33, #CC6600);
    filter: progid:DXImageTransform.Microsoft.gradient(GradientType=0,startColorstr=#FFCC33, endColorstr=$active-color);
    transition: all 0.5s ease-in-out; }
    @media (min-width: 768px) {
      .catalog-header__genres .catalog-header__genres_navigation--active {
        margin: 0 1em;
        height: 100%; } }
    @media (min-width: 992px) {
      .catalog-header__genres .catalog-header__genres_navigation--active {
        border-radius: 3em; } }
  .catalog-header__genres .catalog-header__genres_navigation--btn-farsi {
    font-size: 0.7em;
    font-family: dovom-bold;
    font-weight: bold;
    color: #666666;
    width: 100%;
    text-align: center;
    padding: .5em 0; }
    @media (min-width: 350px) {
      .catalog-header__genres .catalog-header__genres_navigation--btn-farsi {
        font-size: 1em; } }
    @media (min-width: 768px) {
      .catalog-header__genres .catalog-header__genres_navigation--btn-farsi {
        font-size: 1.5em; } }
    @media (min-width: 992px) {
      .catalog-header__genres .catalog-header__genres_navigation--btn-farsi {
        font-size: 2em; } }
  .catalog-header__genres .catalog-header__genres_navigation--btn-farsi .active {
    transition: all 0.5s ease-in;
    padding: .5em 0;
    font-size: .8em;
    color: #666666; }
    @media (min-width: 350px) {
      .catalog-header__genres .catalog-header__genres_navigation--btn-farsi .active {
        font-size: 1.1em; } }
  .catalog-header__genres .catalog-header__genres_navigation--btn-english {
    font-size: 0.7em;
    font-family: "Oswald", sans-serif;
    font-weight: 400;
    color: #666666;
    width: 100%;
    text-align: center;
    padding: .5em 0; }
    @media (min-width: 350px) {
      .catalog-header__genres .catalog-header__genres_navigation--btn-english {
        font-size: 1em; } }
    @media (min-width: 768px) {
      .catalog-header__genres .catalog-header__genres_navigation--btn-english {
        font-size: 1.5em; } }
    @media (min-width: 992px) {
      .catalog-header__genres .catalog-header__genres_navigation--btn-english {
        font-size: 2em; } }
  .catalog-header__genres .catalog-header__genres_navigation--btn-english .active {
    transition: all 0.5s ease-in;
    font-size: .7;
    padding: .5em 0;
    color: #666666; }
    @media (min-width: 350px) {
      .catalog-header__genres .catalog-header__genres_navigation--btn-english .active {
        font-size: 1.1em; } }

.group {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 100%;
  align-items: center;
  flex-wrap: wrap; }
  .group .gallery-wrapper {
    padding-top: 3em;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    width: 100%;
    align-items: center; }
    @media (min-width: 992px) {
      .group .gallery-wrapper {
        display: flex;
        flex-direction: row;
        justify-content: space-evenly;
        width: 100%;
        align-items: center;
        flex-wrap: wrap;
        margin: 4em 0; } }
    .group .gallery-wrapper .gallery-item {
      display: flex;
      flex-direction: row;
      justify-content: space-evenly;
      width: 100%;
      border-bottom: 1px solid rgba(34, 34, 34, 0.9); }
      @media (min-width: 992px) {
        .group .gallery-wrapper .gallery-item {
          display: flex;
          flex-direction: column;
          justify-content: space-evenly;
          width: 25%;
          align-items: center; } }
      .group .gallery-wrapper .gallery-item:last-child {
        border-bottom: none;
        padding-bottom: 3em; }
        @media (min-width: 992px) {
          .group .gallery-wrapper .gallery-item:last-child {
            padding-bottom: 0;
            border-bottom: 1px solid rgba(34, 34, 34, 0.9); } }
      .group .gallery-wrapper .gallery-item .gallery-item__img {
        display: flex;
        width: 40%;
        margin: auto; }
        @media (min-width: 992px) {
          .group .gallery-wrapper .gallery-item .gallery-item__img {
            width: 100%; } }
        .group .gallery-wrapper .gallery-item .gallery-item__img img {
          max-width: 100%;
          height: auto;
          margin: auto; }

.gallery-item__title--fa {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  width: 50%;
  align-items: center;
  font-size: 1.1em;
  font-family: dovom;
  font-weight: bold;
  color: rgba(34, 34, 34, 0.9);
  padding: 1em 0; }
  @media (min-width: 768px) {
    .gallery-item__title--fa {
      padding: 2.5em 0; } }
  @media (min-width: 992px) {
    .gallery-item__title--fa {
      width: 100%;
      padding: 4em 0; } }
  .gallery-item__title--fa .gallery-item__title_info--fa {
    font-size: 0.8em;
    font-family: dovom;
    font-weight: bold;
    color: rgba(34, 34, 34, 0.9);
    margin: 2px; }
    @media (min-width: 768px) {
      .gallery-item__title--fa .gallery-item__title_info--fa {
        font-size: 1.3em; } }
    .gallery-item__title--fa .gallery-item__title_info--fa span {
      font-size: 1em;
      font-family: dovom;
      font-weight: bold;
      color: rgba(34, 34, 34, 0.7); }

.gallery-item__title--en {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  width: 50%;
  align-items: center;
  font-size: 1.1em;
  font-family: "Oswald", sans-serif;
  font-weight: bold;
  color: rgba(34, 34, 34, 0.9);
  padding: 1em 0; }
  @media (min-width: 768px) {
    .gallery-item__title--en {
      padding: 2.5em 0; } }
  @media (min-width: 992px) {
    .gallery-item__title--en {
      width: 100%;
      padding: 4em 0; } }
  .gallery-item__title--en .gallery-item__title_info--en {
    font-size: 0.8em;
    font-family: "Roboto", sans-serif;
    font-weight: bold;
    color: rgba(34, 34, 34, 0.9);
    margin: .1em; }
    @media (min-width: 768px) {
      .gallery-item__title--en .gallery-item__title_info--en {
        font-size: 1.3em; } }
    .gallery-item__title--en .gallery-item__title_info--en span {
      font-size: 1em;
      font-family: "Oswald", sans-serif;
      font-weight: bold;
      color: rgba(34, 34, 34, 0.7); }

.table_wrapper {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 100%;
  align-items: center;
  padding: 1em 0; }
  @media (min-width: 768px) {
    .table_wrapper {
      margin: auto; } }
  @media (min-width: 768px) {
    .table_wrapper .aks_table {
      margin: auto;
      width: 70%; } }
  @media (min-width: 992px) {
    .table_wrapper .aks_table {
      margin: 4em 0;
      width: 50%; } }
  .table_wrapper .aks_table .aks_preview {
    padding: 1em 0;
    max-width: 100%;
    height: auto; }
    @media (min-width: 768px) {
      .table_wrapper .aks_table .aks_preview {
        margin: auto; } }
  .table_wrapper tr:nth-child(even) {
    background-color: #cdcdcd; }
  .table_wrapper tr:nth-child(odd) {
    background-color: #e6e6e6; }
  .table_wrapper table {
    border-collapse: collapse;
    width: 100%;
    table-layout: fixed; }

.tg-english th {
  font-size: 1.2em;
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  color: rgba(34, 34, 34, 0.9);
  padding: .5em;
  text-align: center; }
  @media (min-width: 768px) {
    .tg-english th {
      font-size: 1.6em; } }

.tg-english td {
  font-size: 1.2em;
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  color: rgba(34, 34, 34, 0.9);
  padding: .5em;
  text-align: center; }
  @media (min-width: 768px) {
    .tg-english td {
      font-size: 1.6em; } }

.tg-farsi th {
  font-size: 1.2em;
  font-family: dovom-bold;
  font-weight: 400;
  color: rgba(34, 34, 34, 0.9);
  padding: .5em;
  text-align: center; }
  @media (min-width: 768px) {
    .tg-farsi th {
      font-size: 1.6em; } }

.tg-farsi td {
  font-size: 1.2em;
  font-family: dovom;
  font-weight: 400;
  color: rgba(34, 34, 34, 0.9);
  padding: .5em;
  text-align: center; }
  @media (min-width: 768px) {
    .tg-farsi td {
      font-size: 1.6em; } }

.contact {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 100%;
  align-items: center;
  background-color: #e6e7e9; }
  .contact .top-nav {
    margin: auto;
    width: 90%;
    padding: 1em 0;
    border-bottom: 2px solid rgba(153, 153, 153, 0.9);
    text-align: center; }
    @media (min-width: 768px) {
      .contact .top-nav {
        padding: 2em 0; } }
    .contact .top-nav #back-to-top {
      font-size: 1em;
      font-family: asli;
      font-weight: bold;
      color: rgba(102, 102, 102, 0.9); }
      @media (min-width: 768px) {
        .contact .top-nav #back-to-top {
          font-size: 1.3em; } }
      @media (min-width: 992px) {
        .contact .top-nav #back-to-top {
          font-size: 1.5em; } }
      .contact .top-nav #back-to-top .contact-arrow {
        max-width: 100%;
        width: .7em;
        height: auto;
        transform: rotateZ(90deg); }
  .contact .contact-fa {
    padding: 2em 0;
    color: rgba(102, 102, 102, 0.9); }
    @media (min-width: 768px) {
      .contact .contact-fa {
        padding: 2em 0;
        display: flex;
        justify-content: space-between; } }
    @media (min-width: 768px) {
      .contact .contact-fa .contact-fa__line {
        text-align: center; } }
  .contact .contact-fa__line--h5 {
    font-size: 1.2em;
    font-family: asli;
    font-weight: bold;
    color: rgba(153, 153, 153, 0.9); }
    @media (min-width: 768px) {
      .contact .contact-fa__line--h5 {
        font-size: 1.6em; } }
  .contact .contact-fa__line--a {
    font-size: 1.2em;
    font-family: dovom-bold;
    font-weight: bold;
    color: rgba(102, 102, 102, 0.9); }
    @media (min-width: 768px) {
      .contact .contact-fa__line--a {
        font-size: 1.6em; } }
  .contact .contact-en {
    padding: 2em 0;
    color: rgba(102, 102, 102, 0.9); }
    @media (min-width: 768px) {
      .contact .contact-en {
        padding: 2em 0;
        display: flex;
        justify-content: space-between; } }
    @media (min-width: 768px) {
      .contact .contact-en .contact-en__line {
        text-align: center; } }
  .contact .contact-en__line--h5 {
    font-size: 1.2em;
    font-family: "Oswald", sans-serif;
    font-weight: 500;
    color: rgba(153, 153, 153, 0.9); }
    @media (min-width: 768px) {
      .contact .contact-en__line--h5 {
        font-size: 1.6em; } }
  .contact .contact-en__line--a {
    font-size: 1.2em;
    font-family: "Oswald", sans-serif;
    font-weight: 400;
    color: rgba(102, 102, 102, 0.9); }
    @media (min-width: 768px) {
      .contact .contact-en__line--a {
        font-size: 1.6em; } }

.contact-us.farsi {
  display: flex;
  width: 100%;
  text-align: center; }
  .contact-us.farsi .contact-us__block {
    margin: auto;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 90%; }
    .contact-us.farsi .contact-us__block .contact-us__block--h2 {
      margin: 0.7em 0;
      font-size: 4em;
      font-family: asli;
      font-weight: bold;
      color: #FFF; }
    .contact-us.farsi .contact-us__block .contact-us__block--p {
      font-size: 2em;
      font-family: dovom;
      font-weight: bold;
      color: #FFF; }

.contact-us.english {
  width: 100%;
  text-align: left; }
  .contact-us.english .contact-us__block {
    float: left;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 70%; }
    .contact-us.english .contact-us__block .contact-us__block--h2 {
      margin: 0.7em 0;
      font-size: 4em;
      font-family: "Oswald", sans-serif;
      font-weight: bold;
      color: #FFF; }
    .contact-us.english .contact-us__block .contact-us__block--p {
      font-size: 1.8em;
      font-family: "Roboto", sans-serif;
      font-weight: bold;
      color: #FFF; }
